.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/config
/helmfile/helmfile
/tmp

node_modules/
dist/
npm-debug.log
lerna-debug.log
coverage/
